########################################################################
# File managed by Salt at <{{ source }}>.
# Your changes may be overwritten.
########################################################################

##portable shell syntax

[ -n "${GOROOT}" ] && export GOROOT=${GOROOT}
[ -n "{{ golang.linux.base_dir }}" ] && export GOROOT={{ golang.linux.base_dir }}

[ -n "${GOPATH}" ] && export GOPATH=${GOPATH}
[ -n "{{ golang.go_path }}" ] && export GOPATH={{ golang.go_path }}

export PATH=$PATH:${GOROOT}/go/bin

{%- if golang.environ %}
    {%- for item in golang.environ %}
{{ item }}
    {%- endfor %}
{%- endif %}
